html {
	height: 100%;
}

body {
	background-color: #f8f9fa !important;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 85%;
}

.main {
	margin: 120px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

li {
	list-style-type: none;
}

h1 {
	text-align: center;
}

h2 {
	margin-bottom: 30px;
	margin-top: 30px;
}

div {
	margin-top: 5px;
	margin-bottom: 5px;
}

a {
	color: #3e3e3e;
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
}

a:hover, a.nav-link:hover {
	color: #EE4247 !important;
	text-decoration: none;
}

.btn-primary {
	background-color: #EE4247 !important;
	border-color: #EE4247 !important;
}

.btn-primary:hover {
	background-color: #3e3e3e !important;
	border-color: #3e3e3e !important;
}


.input-btn, .input-btn-txt {
	margin-top: 0;
	margin-bottom: 0;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-control {
	padding: 20px 25px;
	border-radius: 0;
	border: 2px solid rgba(0,0,0,.1) !important;
}

.form-control:focus {
    border-color: rgba(0,0,0,0.6) !important;
    box-shadow: 0 0;
}

fieldset {
	padding-left: 15px;
	padding-right: 15px;
}

.mandatory-field {
	color: red;
}

.big-logo {
	height: 110px;
	margin-bottom: 73px;
}


.badge-light {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

